html,
body {
  font-family: "NotoKrR", sans-serif;
  font-weight: normal;
  height: 100%;
  min-height: 100% !important;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
  font-family: "NotoKrR", sans-serif;
  transform: skew(-0.001deg);
}
.form-control,
.btn,
.btn-link,
.dropdown-item,
.input-group-text,
.custom-select,
.custom-file-label,
.tooltip,
.popover {
  font-family: "NotoKrR", sans-serif;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
strong {
  font-family: "NotoKrM", sans-serif;
}
a {
  color: #041794;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #2f42c1;
  text-decoration: underline;
}
/*.form-control {
  height: calc(1.5em + 0.625rem + 2px);
  padding: 0.25rem 0.75rem 0.5rem 0.5rem;
  font-size: 0.875rem;
}
.form-control-xs {
  height: calc(1rem + 0.5rem + 2px);
  padding: 0.1rem 0.5rem 0.25rem 0.375rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 0.2rem;
}
.form-search {
  height: calc(1.5em + 0.625rem + 2px);
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}*/

@font-face {
  font-family: "NotoKrR", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(./fonts/NotoSansKR-Regular.otf);
  src: url(./fonts/NotoSansKR-Regular.woff2) format("woff2"),
    url(./fonts/NotoSansKR-Regular.woff) format("woff");
}
@font-face {
  font-family: "NotoKrM", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(./fonts/NotoSansKR-Medium.otf);
  src: url(./fonts/NotoSansKR-Medium.woff2) format("woff2"),
    url(./fonts/NotoSansKR-Medium.woff) format("woff");
}
/*
@font-face {
  font-family: "NotoKrR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(./fonts/NotoSansKR-Regular.otf);
  src: url(./fonts/NotoSansKR-Regular.woff2) format("woff2"),
    url(./fonts/NotoSansKR-Regular.woff) format("woff");
}
@font-face {
  font-family: "NotoKrM";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(./fonts/NotoSansKR-Medium.otf);
  src: url(./fonts/NotoSansKR-Medium.woff2) format("woff2"),
    url(./fonts/NotoSansKR-Medium.woff) format("woff");
}
*/
a {
  color: #222;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #687CFF;
  text-decoration: none;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
.font-b {
  font-family: "NotoKrM", sans-serif;
}
.font-12 {
  font-size: 0.75rem;
}
.font-14 {
  font-size: 0.875rem;
}
.font-16 {
  font-size: 1rem;
}
.font-18 {
  font-size: 1.125rem;
}
.font-20 {
  font-size: 1.25rem;
}
.font-24 {
  font-size: 1.5rem;
}
.font-30 {
  font-size: 1.875rem;
}
.text-s {font-size: 0.875rem; color:#828282;}
.text-blue {color:#687CFF}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 1px;
}
.wrap {
  width: 100%;
  min-height: calc(100vh - 85px);
  /*overflow-y: auto;*/
}
/* container 추가:가로 사이즈 */
.container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1350px;
  }
}
@media (min-width: 1360px) {
  .navbar-expand-xxl {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-xxl .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-xxl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xxl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xxl > .container,
  .navbar-expand-xxl > .container-fluid,
  .navbar-expand-xxl > .container-sm,
  .navbar-expand-xxl > .container-md,
  .navbar-expand-xxl > .container-lg,
  .navbar-expand-xxl > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-xxl .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-xxl .navbar-toggler {
    display: none;
  }
}
.navbar-labyweb {height:120px;
  font-size: 1.125rem;
  font-family: "NotoKrM";
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);}
.navbar-labyweb .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-labyweb .navbar-brand:hover,
.navbar-labyweb .navbar-brand:focus {
  color: #222222
}

.navbar-labyweb .navbar-nav .nav-link {
  color: #222222; font-weight:500;
  margin:0 0.5rem
}

.navbar-labyweb .navbar-nav .nav-link:hover,
.navbar-labyweb .navbar-nav .nav-link:focus {
  color: #687CFF
}

.navbar-labyweb .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-labyweb .navbar-nav .show > .nav-link,
.navbar-labyweb .navbar-nav .active > .nav-link,
.navbar-labyweb .navbar-nav .nav-link.show {
  color: rgba(0, 0, 0, 0.9);
}
.nav-link.active {
  color: #687CFF
}
.navbar-labyweb .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-labyweb .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-labyweb .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-labyweb .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-labyweb .navbar-text a:hover,
.navbar-labyweb .navbar-text a:focus {
  color: #687CFF
}
/* header */
header {width:100%; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);}
main {z-index:1}
.bg-nav{width:100%; padding:30px 0; border-bottom:1px solid #E5E5E5; background-color:#F9FAFB}
.bg-nav2 {width:100%; height:180px; border-bottom:1px solid #E5E5E5; background-color:#F9FAFB}
footer {background-color: #F9FAFB; height:220px;
  padding-top: 3rem;
  padding-bottom: 3rem;}
footer p {
  margin-bottom: .25rem;
}

/* card */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
  }
}
.card-hover {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #687CFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.card-text {
  width:100%; height:55px; text-align:left;
}

.card-hover a {color: #687CFF;}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0;
}
.card-img2 {width:100%; height:162px; background:url(../images/common/noimage.png) no-repeat #F9FAFB 50% 50%; position:relative}
.card-img2-label {position:absolute; right:0; bottom:0; padding:5px; margin-left:2px; background: rgba(0, 0, 0, 0.3); font-size:0.75rem; color:#fff}


.btn.round {
  border-radius: 4rem; 
  padding: 0.375rem 1rem;
}
.btn-icon img, .btn-icon span {display:inline-block; vertical-align: middle; margin-bottom:1px;}
.btn-icon span {margin-right:0.5rem}

.btn-blue {
  color: #fff;
  background-color: #687CFF;
  border-color: #687CFF;
}

.btn-blue:hover {
  color: #fff;
  background-color: #3F54E4;
  border-color: #3F54E4;
}

.btn-blue:focus,
.btn-blue.focus {
  color: #fff;
  background-color: #3F54E4;
  border-color: #3F54E4;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-blue.disabled,
.btn-blue:disabled {
  color: #fff;
  background-color: #687CFF;
  border-color: #687CFF;
}

.btn-blue:not(:disabled):not(.disabled):active,
.btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #687CFF;
  border-color: #687CFF;
}

.btn-blue:not(:disabled):not(.disabled):active:focus,
.btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1);
}


.btn-light-laby {
  color: #828282;
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.btn-light-laby:hover {
  color: #687CFF;
  background-color: #fff;
  border-color: #687CFF;
}

.btn-light-laby:focus,
.btn-light-laby.focus {
  color: #687CFF;
  background-color: #ffffff;
  border-color: #687CFF;
  box-shadow: 0 0 0 0.2rem rgba(104, 124, 255, 0.2);
}

.btn-light-laby.disabled,
.btn-light-laby:disabled {
  color: #828282;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.btn-light-laby:not(:disabled):not(.disabled):active,
.btn-light-laby:not(:disabled):not(.disabled).active,
.show > .btn-light-laby.dropdown-toggle {
  color: #222;
  background-color: #fff;
  border-color: #e5e5e5;
}

.btn-light-laby:not(:disabled):not(.disabled):active:focus,
.btn-light-laby:not(:disabled):not(.disabled).active:focus,
.show > .btn-light-laby.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(104, 124, 255, 0.2);
}


.btn-tag {
  color: #828282;
  background-color: #fff;
  border-color: #E5E5E5;
  margin:0.5rem;
  padding:0.5rem 1rem;
}

.btn-tag:hover {
  color: #687CFF;
  background-color: #fff;
  border-color: #687CFF;
}

.btn-tag:focus,
.btn-tag.focus {
  color: #fff;
  background-color: #687CFF;
  border-color: #687CFF;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-tag.disabled,
.btn-tag:disabled {
  color: #666;
  background-color: #fff;
  border-color: #666;
}

.btn-tag:not(:disabled):not(.disabled):active,
.btn-tag:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #687CFF;
  border-color: #687CFF;
}

.btn-tag:not(:disabled):not(.disabled):active:focus,
.btn-tag:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.badge-onair {border: 1px solid #EB5757;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  color:#EB5757;
  padding:0.1rem 0.25rem;
}

.carousel-labyweb {background: linear-gradient(180deg, #8164F3 0%, #904AE8 100%);}

.jumbotron-labyweb {
  padding: 5rem;
  margin-bottom: 2rem;
  background-color: #F9FAFB;
  border:1px solid #E5E5E5;
  border-radius: 1rem;
}
.login {width:100%; height:660px; background: linear-gradient(180deg, #8164F3 0%, #904AE8 100%);}
.container-login {width:100%; height:660px; background: url(../images/common/bg-login.png) no-repeat center bottom}
.form-control-login {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  mix-blend-mode: overlay;
  background-clip: padding-box;
  border-radius: 2.5rem;
  border:none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom:20px
}
.btn-login {
  background: #FFFFFF;
  color:#9044ab;
  mix-blend-mode: overlay;
  border-radius: 2.5rem;
  height: 2.5rem;
  line-height:2.5rem;
  text-align:center;
  margin-bottom:20px
}
.btn-login-2 {
  background: rgba(255, 255, 255, 0.5);
  mix-blend-mode: overlay;
  color:#fff;
  border-radius: 2.5rem;
  height: 2.5rem;
  line-height:2.5rem;
  padding:0 1.75rem;
  text-align:center;
}

.course-thumbnail {width:1060px; height:400px; background:url(../images/course/bg-course-info.png) no-repeat 0 20px}
.course-thumbnail-img {width:95%; height:240px; border: 2px solid #FFFFFF;
  background-color: #e5e5e5;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));}
.course-thumbnail-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: none;
    background-clip: border-box;
  }

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.625rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid #e5e5e5
}

.list-group-item.active {
  z-index: 2;
  color: #687CFF;
  background-color: #F9FAFB;
  border-color: #e5e5e5;
}

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #eeeeee;
}
.panel-default > .panel-heading {
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: #707070;
  background-color: #f8f8ff;
}
.panel-title ul {
  padding: 0;
}
.panel-title,
.panel-title li {
  font-size: 0.875rem;
  list-style: none;
}
.panel-title img {
  margin-right: 0.5rem;
}
.panel-title {
  color: #222;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.panel-title > a:hover {
  display: block;
  text-decoration: none;
}
.panel-title.top {
  padding: 0.5rem;
  border-bottom: 1px solid #dff5ff;
  background-color: #f5fbff;
}
.panel-title.top a > a:hover {
  display: block;
  text-decoration: none;
}
/* .panel-title .top li { 
  display: block;
  padding: 0.5rem;
  background-color: #f5fbff;
  border-bottom: 1px solid #dff5ff;
}
.panel-title .top li > a:hover {
  display: block;
  text-decoration: none;
}*/
.panel-heading.active {
  background-color: #e3e3ff;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eeeeee;
}
.panel-body ul {
  list-style: none;
  padding-left: 1.5rem;
}
.panel-body li {
  padding: 0.375rem 0;
  font-size: 0.85rem;
}
